html, body {
  height: 100%;
  margin: 0;
}

body {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  border: 1px solid white;
}

.wrapper {
  position: relative;
  display: flex;
}

#score {
  position: absolute;
  top: -60px;
}

#report {
  position: absolute;
  top: 400px;
}

#game-over {
  position: absolute;
  top: 180px;
  left: 105px;
}
